<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="rs.ac.metropolitan.cs330.znamenitosti.admin"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" 
              android:targetSdkVersion="17"/>
    <uses-feature 
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature 
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false" android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="AddCity"/>
        <activity android:name="ChooseCity"/>
        <activity android:name="AddSight"/>
        <activity android:name="AddSightImage"/>
    </application>
</manifest>
